<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.elexis.core.data.ElexisApp"
            name="Elexis OpenSource">
         <property
               name="appName"
               value="Elexis OpenSource">
         </property>
         <property
               name="preferenceCustomization"
               value="elexisprefs.ini">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="windowImages"
               value="rsc/elexis2_16.gif,rsc/elexis32_2.gif,rsc/elexis48.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.views.TemplatePrintView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.views.TemplatePrintView"
            name="%elexis.templatePrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.FallListeView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/documents_stack.png"
            id="ch.elexis.FallListeView"
            name="%elexis.caseKonsView">
      </view>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.views.LaborView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/labor_view.png"
            id="ch.elexis.Labor"
            name="%elexis.labView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RezepteView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/rezept_view.png"
            id="ch.elexis.Rezepte"
            name="%elexis.prescriptionView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientenListeView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/group.png"
            id="ch.elexis.PatListView"
            name="%elexis.patListView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KompendiumView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/information.png"
            id="ch.elexis.Kompendium"
            name="%elexis.kompendiumView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KontakteView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/kontakte_view.png"
            id="ch.elexis.Kontakte"
            name="%elexis.contactsView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.KonsZumVerrechnenView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/page_red.png"
            id="ch.elexis.BehandlungenVerrechnenView"
            name="%elexis.openKonsView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.codesystems.LeistungenView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/leistung.png"
            id="ch.elexis.LeistungenView"
            name="%elexis.activityView">
      </view>
      <view
            class="ch.elexis.views.BBSView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/tafel.jpg"
            id="ch.elexis.BBSView"
            name="%elexis.bbsView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.Artikeldetail"
            id="ch.elexis.ArtikelDetail"
            name="%elexis.articleDetailView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.FallDetailView"
            id="ch.elexis.FallDetailView"
            name="%elexis.caseDetailView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.BriefAuswahl"
            icon="platform:/plugin/ch.elexis.core.icons/icons/mail.png"
            id="ch.elexis.BriefAuswahlView"
            name="%elexis.selectLetterView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KontaktDetailView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/kontaktdetail_view.png"
            id="ch.elexis.KontaktDetailView"
            name="%elexis.contactDetailView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.KonsDetailView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/consult_view.png"
            id="ch.elexis.Konsdetail"
            name="%elexis.konsDetailView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.codesystems.DiagnosenView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/stethoskop.gif"
            id="ch.elexis.DiagnosenView"
            name="%elexis.diagnosesView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.TextView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/dokument.gif"
            id="ch.elexis.TextView"
            name="%elexis.textView">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.codesKategorie"
            class="ch.elexis.views.codesystems.CodeDetailView"
            fastViewWidthRatio="0.5f"
            icon="platform:/plugin/ch.elexis.core.icons/icons/report.png"
            id="ch.elexis.codedetailview"
            name="%elexis.codesView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.LaborblattView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.Laborblatt"
            name="%elexis.labPrintView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.AUFZeugnis"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.AUFView"
            name="%elexis.auzPrintView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.RezeptBlatt"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.RezeptBlatt"
            name="%elexis.prescriptionPrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.PatHeuteView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/calendar_view_day.png"
            id="ch.elexis.PatHeuteView"
            name="%elexis.patTodayView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.LagerView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/box_label.png"
            id="ch.elexis.LagerView"
            name="%elexis.stocksView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.BestellView"
            id="ch.elexis.BestellenView"
            name="%elexis.orderView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.ArtikelView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/pill.png"
            id="ch.elexis.artikelview"
            name="%elexis.articlesView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.ArtikelSelektor"
            id="ch.elexis.ArtikelSelektor"
            name="%elexis.articleSelectorView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.BestellBlatt"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.BestellBlatt"
            name="%elexis.orderPrintView">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.KonsListe"
            icon="platform:/plugin/ch.elexis.core.icons/icons/book_open_view.png"
            id="ch.elexis.HistoryView"
            name="%elexis.historyView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.KGPrintView"
            id="ch.elexis.views.KGPrintView"
            name="%elexis.emrPrintView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.TemplatePrintView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/printer.png"
            id="ch.elexis.views.TemplatePrintView"
            name="%elexis.templatePrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.AUF2"
            icon="platform:/plugin/ch.elexis.core.icons/icons/auf.png"
            id="ch.elexis.auf"
            name="%elexis.aufView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.RnDetailView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/page_green.png"
            id="ch.elexis.RechnungsDetailView"
            name="%elexis.billDetail">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.RechnungsListeView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/page_copy.png"
            id="ch.elexis.RechnungsListeView"
            name="%elexis.billsListView">
      </view>
      <view
            class="ch.elexis.views.DauerMediView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/pill.png"
            id="ch.elexis.dauermedikationview"
            name="%elexis.fixMediView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.FaelleView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/documents_stack.png"
            id="ch.elexis.schoebufaelle"
            name="%elexis.casesListView">
      </view>
      <view
            class="ch.elexis.views.ReminderView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/bell__exclamation.png"
            id="ch.elexis.reminderview"
            name="%elexis.remindersView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.AccountView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/money.png"
            id="ch.elexis.views.rechnung.AccountView"
            name="%elexis.AccountView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.AccountListView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/money.png"
            id="ch.elexis.views.rechnung.AccountListView"
            name="%elexis.AccountListView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.SearchView"
            id="ch.elexis.views.SearchView"
            name="%elexis.SearchView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.FieldDisplayView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/daten.gif"
            id="ch.elexis.dbfielddisplay"
            name="%view.name.1">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.ODDBView"
            id="ch.elexis.ODDBView"
            name="%view.name.2">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.MediVerlaufView"
            id="ch.elexis.medverlaufview"
            name="%view.name.3">
      </view>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.views.LabNotSeenView"
            fastViewWidthRatio="0.4"
            icon="platform:/plugin/ch.elexis.core.icons/icons/reagensask.ico"
            id="ch.elexis.LabNotSeenView"
            name="%view.name.4">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.BillSummary"
            icon="platform:/plugin/ch.elexis.core.icons/icons/rechnungen.ico"
            id="ch.elexis.views.rechnung.BillSummary"
            name="%elexis.BillSummaryView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.textsystem.PlatzhalterView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/platzhalter.gif"
            id="ch.elexis.views.textsystem.Platzhalterview"
            name="Platzhalter">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientDetailView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/person.ico"
            id="ch.elexis.PatientDetailView"
            name="%elexis.patDetailView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientDetailView2"
            icon="platform:/plugin/ch.elexis.core.icons/icons/person.ico"
            id="ch.elexis.PatDetail_v2"
            name="%elexis.patDetailView">
      </view>
      <view
            class="ch.elexis.views.ScriptView"
            icon="platform:/plugin/ch.elexis.core.icons/icons/script_code.png"
            id="ch.elexis.scriptsView"
            name="%view.name.5">
      </view>
      <category
            id="ch.elexis.messungenKategorie"
            name="%elexis.measurementsCategory">
      </category>
      <category
            id="ch.elexis.textKategorie"
            name="%elexis.textCategory">
      </category>
      <category
            id="ch.elexis.konsultationKategorie"
            name="%elexis.konsCategory">
      </category>
      <category
            id="ch.elexis.codesKategorie"
            name="%elexis.codesCategory">
      </category>
      <category
            id="ch.elexis.datenKategorie"
            name="%elexis.dataCategory">
      </category>
      <category
            id="ch.elexis.abrechnungKategorie"
            name="%elexis.accountingCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.elexis.ArtikelPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/pill.png"
            id="ch.elexis.ArtikelPerspektive"
            name="%elexis.articlePerspective">
      </perspective>
      <perspective
            class="ch.elexis.PatientPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/group.png"
            id="ch.elexis.PatientPerspective"
            name="%elexis.patientPerspective">
      </perspective>
      <perspective
            class="ch.elexis.AdressPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/address_book.png"
            id="ch.elexis.AdressPerspektive"
            name="%elexis.addressPerspective">
      </perspective>
      <perspective
            class="ch.elexis.AbrechnungsPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/money.png"
            id="ch.elexis.AbrechnungPerspektive"
            name="%elexis.accountingPerspective">
         <description>
            %perspective.description.0
         </description>
      </perspective>
      <perspective
            class="ch.elexis.LeistungPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/coins.png"
            id="ch.elexis.LeistungPerspektive"
            name="%elexis.activityPerspective">
      </perspective>
      <perspective
            class="ch.elexis.ReminderPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/bell.png"
            id="ch.elexis.ReminderPerspektive"
            name="%elexis.reminderPerspective">
      </perspective>
      <perspective
            class="ch.elexis.BriefePerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/documents_text.png"
            id="ch.elexis.BriefePerspektive"
            name="%elexis.letterPerspective">
      </perspective>
      <perspective
            class="ch.elexis.BestellPerspektive"
            icon="platform:/plugin/ch.elexis.core.icons/icons/cart.png"
            id="ch.elexis.bestellperspektive"
            name="%perspective.name.0">
      </perspective>
   </extension>

</plugin>
